/* app css stylesheet */

.category {
  overflow: hidden;
}

.category-icon-cell, .question-cell {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.category-icon {
  padding-top: 50%;
  font-size: 60px !important;
}

.question, .category-icon-cell {
  border: 1px solid #ddd;
}

.selected {
  background-color: #d6e9c6;
}

.question-examples {
  list-style-type: none;
}

.btn-example, .input-other-examples {
  margin: 10px;
}

.btn-example {
  width: 174px;
  height: 70px;
}

.btn-text * {
  white-space: normal;
  font-weight: bold;
  color: darkslategrey;
  font-size: 16px !important;
}

.achievement {
  background-image: url(images/logos/badge.png);
  width: 140px;
  height: 181px;
  float: left;
  position: relative;
  margin-right: 15px;
}

.achievement-circle {
  background-color: white;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  position: absolute;
  top: 28px;
  left: 26px;
}

.achievement-icon {
  position: relative;
  top: 12px;
  font-size: 60px !important;
}

.panel-email {
  margin-top: 30px;
}

.question-text {
    font-size: 16px;
}