/* app css stylesheet */

@font-face {
  font-family: "Dax Wide Regular";
  src: url(fonts/dax-wide-regular.ttf);
}

@font-face {
  font-family: "Verdana";
  src: url(fonts/verdana.ttf);
}

body {
  font-family: "Verdana"
}

.page-header {
  font-family: "Dax Wide Regular"
}

.page-header .subtitle {
  margin-top: 40px;
}

.category {
  overflow: hidden;
}

.category-icon-cell, .question-cell {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.category-icon {
  padding-top: 50%;
  font-size: 60px !important;
}

.selected .category-icon {
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6B9746, 0 0 70px #6B9746, 0 0 80px #6B9746, 0 0 100px #6B9746, 0 0 150px #6B9746;
}

.question, .category-icon-cell {
  border: 1px solid #ddd;
}

.question.selected {
  background-color: #d6e9c6;
}

.question-examples {
  list-style-type: none;
}

.btn-example, .input-other-examples {
  margin: 10px;
  width: 174px;
}

.btn-example {
  height: 70px;
}

.btn-text * {
  white-space: normal;
  font-weight: bold;
  color: darkslategrey;
  font-size: 16px !important;
}

.btn-questions {
  margin-top: 30px;
  margin-bottom: 30px;
}

.achievement {
  background-image: url(images/logos/badge.png);
  width: 140px;
  height: 181px;
  float: left;
  position: relative;
  margin-right: 15px;
}

.achievement-circle {
  background-color: white;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  position: absolute;
  top: 28px;
  left: 26px;
}

.achievement-icon {
  position: relative;
  top: 12px;
  font-size: 60px !important;
}

.panel-email {
  margin-top: 30px;
}

.question-text {
    font-size: 30px;
}

.footer {
  background: url(images/footer.png) center top repeat-x;
  height: 50px;
}

