<div class="page-header">
  <h1>La producción colaborativa ha entrado en tu vida... ¡adivina cuánto!</h1>
</div>

<div class="row category" ng-repeat="category in categories">
  <div class="col-md-2 text-center category-icon-cell" ng-class="{selected : isSelected(category)}" >
    <i class="fa fa-{{category.icon}} category-icon"></i>
  </div>

  <div class="col-md-10 question-cell">
      <div class="row question" ng-repeat="question in category.questions" ng-class="{selected : isSelected(question)}">
        <div class="col-md-8">
          {{question.text}}
        </div>
        <div class="col-md-4 text-right">
          <ul class="question-examples">
            <li ng-repeat="example in question.examples">
              <button type="button" class="btn btn-default btn-example" ng-click="selectExample(example)" ng-class="{active : isSelected(example)}">
              <img ng-src="images/logos/{{example.id}}.png" title="{{example.name}}" id="img-{{example-name}}">
            </button>
            </li>
            <li ng-if="question.other_examples">
              <input class="input-other-examples" ng-model="question.others" type="text" placeholder="otros">
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>

<button class="btn btn-primary btn-lg pull-right" ng-click="showResults()">Conocer resultados</button>
