<div class="page-header">
  <h1>
    <div>Las comunidades de procomún han entrado en tu vida...</div>
    <div class="pull-right">¡adivina cuánto!</div></h1>
  <h2>Alguna vez has ...</h2>
</div>

<div class="row category" ng-repeat="category in categories">
  <div class="col-md-2 text-center category-icon-cell" ng-class="{selected : isSelected(category)}" >
    <i class="fa fa-{{category.icon}} category-icon"></i>
  </div>

  <div class="col-md-10 question-cell">
      <div class="row question" ng-repeat="question in category.questions" ng-class="{selected : isSelected(question)}">
        <div class="col-md-8 question-text">
          {{question.text}}
        </div>
        <div class="col-md-4 text-right">
          <ul class="question-examples">
            <li ng-repeat="example in question.examples">
              <button type="button" class="btn btn-default btn-example btn-text" ng-click="selectExample(example)" ng-class="{active : isSelected(example)}">
              <div ng-if="example.image">
                <img ng-src="images/logos/{{example.id}}.png" title="{{example.name}}" id="img-{{example-name}}">
              </div>
              <div ng-if="!example.image" >
                {{example.name}}
              </div>
            </button>
            </li>
            <li ng-if="question.other_examples">
              <input class="input-other-examples" ng-model="question.others" type="text" placeholder="otros">
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>

<button class="btn btn-primary btn-lg pull-right btn-questions" ng-click="showResults()">Conocer resultados</button>
